

      <!--.icon và thông tin giới thiệu-->
    <section class="category-icons">
        <div class="container">
            <div class="yellow-content">
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="~/accsset_temple/assets/icon-1.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Chúng Tôi Cung Cấp</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="500">Chúng tôi cung cấp tới quý khách hàng những dịch vụ MakeUp tại nhà, MakeUp cô dâu tại nhà, MakeUp cô dâu tỉnh chuyên nghiệp nhất, đưa đến quý khách hàng một nhan sắc hoàn hảo nhất khi đi dự tiệc, đám cưới, chụp hình.</p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="~/accsset_temple/assets/icon-2.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Đội Ngũ Nhân Viên</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="700">Với đội ngũ nhân viên được đào tạo bài bản,trải qua quá trình Traning đầy đủ về MakeUp tại nhà và có kinh nghiệm dày đặc trước khi được phục vụ quý khách hàng , luôn luôn phục vụ đúng theo yêu cầu của quý khách hàng, luôn luôn phục vụ đúng giờ theo yêu cầu của quý khách hàng .</p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="~/accsset_temple/assets/icon-3.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Cam Kết Mỹ Phẩm</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="900">Dung Beauty luôn tự hào vào cam kết với khách hàng toàn bộ sản phẩm sự dụng trong quá trình MakeUp tại nhà là sản phẩm CHÍNH HÃNG và CAO CẤP để đem đến kết quả hài lòng nhất khi sự dụng dịch vụ MakeUp tại nhà.</p>
                </div>
            </div>
            <!--.yellow-content-->
        </div>
        <!--.container-->
    </section>
    <!--.category-icons-->
    <div class="cont">

    </div>
    <section id="specials-grid" class="month-specials" data-scroll-reveal="enter from the bottom after 0.9s">
        <div class="container">
            <div>
                 <h1 class="header-txt">Khách Hàng Của Chúng Tôi</h1>
                <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                </div>
            </div>
           
           <div class="carousel" id="stop">
                  <!--nơi đặt ảnh của khách hàng-->
               <ul id="img-user-1" >
                  <li><img src="~/accsset_temple/assets/imgcontens/user1.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/use2.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user3.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user4.jpg" /> </li>                                 
              </ul>  
              <ul id="img-user-2">
                  <li> <img src="~/accsset_temple/assets/imgcontens/user7.jpg" /></li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user5.jpg" /> </li>                              
                  <li> <img src="~/accsset_temple/assets/imgcontens/user02.jpg"/></li>s
                  <li><img src="~/accsset_temple/assets/imgcontens/user6.jpg" /> </li>
              </ul>
              <ul id="img-user-3">
                   <li><img src="~/accsset_temple/assets/imgcontens/user9.jpg" /></li>
                   <li><img src="~/accsset_temple/assets/imgcontens/user031.jpg" /></li>
                   <li><img src="~/accsset_temple/assets/imgcontens/user032.jpg" /></li>
                   <li><img src="~/accsset_temple/assets/imgcontens/user8.jpg" /></li>
              </ul>
           </div>

            </div>
            <!--.specials-content-->
        <!--.container-->
    </section>
    <!--.month-specials-->

    <section id="about-us" class="about">
        <div class="container">
            <div class="about-content">
                <h1 class="header-txt scroll-reveal">Thông Tin Về Chúng Tôi</h1>
                <div class="divider scroll-reveal">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                </div>
                <!--.divider-->
                <p class="scroll-reveal" data-origin="top" data-distance="10%">Dung Beauty là một trong những địa chỉ makeup tại nhà được quý khách hàng yêu quý <br />Với phương châm bạn trao chúng tôi niềm tin chúng tôi trao bạn sự hài lòng Dung Beauty<br />
                    Luôn đề cao chất lượng lên hàng đầu với cam kết những sản phẩm sử dụng trong quá trình MakeUp là những sản phẩm CAO CẤP và CHÍNH HÃNG để đảm bảo không gây kích ứng tới làn da của bạn  </p>
            </div>
        </div>
        <!--.container-->
    </section>
    <!--.about-->

    <section id="main-menu" class="menu-cart scroll-reveal">
        <div class="container">
            <h1 class="header-txt">Bảng Giá</h1>
            <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
            </div>
            <!--.divider-->
            <ul class="menu-navigation" data-tabs data-match-height="true" id="example-tabs">
                <li class="tabs-title is-active"><a class="m-anim" href="#panel1" aria-selected="true" data-text="Starters">MakeUp Khách Tiệc</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel2" href="#panel2" data-text="Main Dishes">MAkeUp Cô Dâu</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel3" href="#panel3" data-text="Desserts">MakeUp Khác</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>MakeUp Dự Tiệc</span></td>
                                    <td><span>$400K</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                                <tr>
                                    <td><span>Makeup Kỉ Yếu</span></td>
                                    <td><span>$350k</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                                <tr>
                                    <td><span>MakeUp Event(Sự Kiện)</span></td>
                                    <td><span>$450</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>  
                                <tr>
                                    <td><span>MakeUp Chụp Hình</span></td>
                                    <td><span>$400</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr> 
                            </table>
                        </div>
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel1-->
                <div class="tabs-panel" id="panel2">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                               <tr>
                                    <td><span>MakeUp Cô Dâu (Tỉnh) </span></td>
                                    <td><span>$1500</span></td>
                                </tr>
                                <tr>
                                    <td>Hỗ trợ phụ kiện kèm làm tóc miễn phí</td>
                                </tr>
                                <tr>
                                    <td><span>Makeup Cô Dâu (Nội Thành)</span></td>
                                    <td><span>$1.200</span></td>
                                </tr>
                                <tr>
                                     <td>Hỗ trợ phụ kiện kèm làm tóc miễn phí</td>
                                </tr>
                                <tr>
                                    <td><span>MakeUp Cô Dâu (Báo Hỉ)</span></td>
                                    <td><span>$1.200</span></td>
                                </tr>
                                <tr>
                                    <td>Hỗ trợ phụ kiện kèm làm tóc miễn phí</td>
                                </tr>
                                <tr>
                                    <td><span>MakeUp Bà Sui</span></td>
                                    <td><span>$450</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel2-->
                <div class="tabs-panel" id="panel3">
                    <div class="menu-content">
                        <div class="menu-section">
                           <table>
                               <tr>
                                    <td><span>MakeUp Layout Theo Yêu Cầu </span></td>
                                    <td><span>$500</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                                <tr>
                                    <td><span>Makeup Beauty,Model</span></td>
                                    <td><span>$500</span></td>
                                </tr>
                                <tr>
                                     <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                                <tr>
                                    <td><span>Theo Dặm Phấn Cô Dâu</span></td>
                                    <td><span>$400</span></td>
                                </tr>
                                <tr>
                                    <td>Chuyên viên sẽ theo cô dâu trong suốt quá trình làm lễ</td>
                                </tr>
                                <tr>
                                    <td><span>MakeUp Tiệc Trên 5 Người</span></td>
                                    <td><span>$350</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel3-->
            </div>
        </div>
        <!--.container-->
    </section>
    <!--.menu-cart-->

    <a href="#0" class="cd-top">Top</a>

