

      <!--.icon và thông tin giới thiệu-->
    <section class="category-icons">
        <div class="container">
            <div class="yellow-content">
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="~/accsset_temple/assets/icon-1.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Chúng Tôi Cung Cấp</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="500">Chúng tôi cung cấp tới quý khách hàng những dịch vụ MakeUp tại nhà, MakeUp cô dâu tại nhà, MakeUp cô dâu tỉnh chuyên nghiệp nhất, đưa đến quý khách hàng một nhan sắc hoàn hảo nhất khi đi dự tiệc, đám cưới, chụp hình.</p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="~/accsset_temple/assets/icon-2.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Đội Ngũ Nhân Viên</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="700">Với đội ngũ nhân viên được đào tạo bài bản,trải qua quá trình Traning đầy đủ về MakeUp tại nhà và có kinh nghiệm dày đặc trước khi được phục vụ quý khách hàng , luôn luôn phục vụ đúng theo yêu cầu của quý khách hàng, luôn luôn phục vụ đúng giờ theo yêu cầu của quý khách hàng .</p>
                </div>
                <div class="icon">
                    <img class="scroll-reveal" data-origin="top" data-distance="20%" src="~/accsset_temple/assets/icon-3.svg" />
                    <h3 class="scroll-reveal" data-origin="top" data-distance="20%">Cam Kết Mỹ Phẩm</h3>
                    <p class="scroll-reveal" data-distance="0" data-duration="900">Dung Beauty luôn tự hào vào cam kết với khách hàng toàn bộ sản phẩm sự dụng trong quá trình MakeUp tại nhà là sản phẩm CHÍNH HÃNG và CAO CẤP để đem đến kết quả hài lòng nhất khi sự dụng dịch vụ MakeUp tại nhà.</p>
                </div>
            </div>
            <!--.yellow-content-->
        </div>
        <!--.container-->
    </section>
    <!--.category-icons-->
    <div class="cont">

    </div>
    <section id="specials-grid" class="month-specials" data-scroll-reveal="enter from the bottom after 0.9s">
        <div class="container">
            <h1 class="header-txt">Khách Hàng Của Chúng Tôi</h1>
            <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
            </div>
              <!--nơi đặt ảnh của khách hàng-->
              <div class="container">
                  <ul class="img-user" >
                  <li><img src="~/accsset_temple/assets/imgcontens/user1.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/use2.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user3.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user4.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user5.jpg" /> </li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user6.jpg" /> </li>
                  <li> <img src="~/accsset_temple/assets/imgcontens/user7.jpg" /></li>
                  <li><img src="~/accsset_temple/assets/imgcontens/user8.jpg" /> </li>
                  <li> <img src="~/accsset_temple/assets/imgcontens/user9.jpg" /></li>
              </ul>
              </div>
              
            </div>
            <!--.specials-content-->
        <!--.container-->
    </section>
    <!--.month-specials-->

    <section id="about-us" class="about">
        <div class="container">
            <div class="about-content">
                <h1 class="header-txt scroll-reveal">Thông Tin Về Chúng Tôi</h1>
                <div class="divider scroll-reveal">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
                </div>
                <!--.divider-->
                <p class="scroll-reveal" data-origin="top" data-distance="10%">Dung Beauty là một trong những địa chỉ makeup tại nhà được quý khách hàng yêu quý <br />Với phương châm bạn trao chúng tôi niềm tin chúng tôi trao bạn sự hài lòng Dung Beauty<br />
                    Luôn đề cao chất lượng lên hàng đầu với cam kết những sản phẩm sử dụng trong quá trình MakeUp là những sản phẩm CAO CẤP và CHÍNH HÃNG để đảm bảo không gây kích ứng tới làn da của bạn  </p>
            </div>
        </div>
        <!--.container-->
    </section>
    <!--.about-->

    <section id="main-menu" class="menu-cart scroll-reveal">
        <div class="container">
            <h1 class="header-txt">Bảng Giá</h1>
            <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "/>
                                <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
                                <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
                                <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
                                <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
                                </svg>
            </div>
            <!--.divider-->
            <ul class="menu-navigation" data-tabs data-match-height="true" id="example-tabs">
                <li class="tabs-title is-active"><a class="m-anim" href="#panel1" aria-selected="true" data-text="Starters">MakeUp Dự Tiệc</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel2" href="#panel2" data-text="Main Dishes">MAkeUp Cô Dâu</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel3" href="#panel3" data-text="Desserts">MakeUp Biểu Diễn Sự Kiện</a></li>
                <li class="tabs-title"><a class="m-anim" data-tabs-target="panel4" href="#panel4" data-text="Drinks">MakeUp Chụp Hình</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>TRANG ĐIỂM DỰ TIỆC TẠI NHÀ</span></td>
                                    <td><span>$400K</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                                <tr>
                                    <td><span>Trang Điểm Theo Yêu Cầu </span></td>
                                    <td><span>$400k</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>
                                <tr>
                                    <td><span>Trang Điểm </span></td>
                                    <td><span>$400</span></td>
                                </tr>
                                <tr>
                                    <td>Tặng Kèm Làm Tóc Miễn Phí Theo Yêu Cầu</td>
                                </tr>                              
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>MakeUp Cô Dâu Ngoại Tỉnh </span></td>
                                    <td><span>$Liên Hê</span></td>
                                </tr>
                                <tr>
                                    <td>Chi phí đi lại ăn uống do bên khách hàng lo</td>
                                </tr>
                                <tr>
                                    <td><span>Trang Điểm</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>Chi phí đi lại ăn uống do bên khách hàng lo</td>
                                </tr>                                                             
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel1-->

                <div class="tabs-panel" id="panel2">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                               <tr>
                                    <td><span>MakeUp Cô Dâu Ngoại Tỉnh </span></td>
                                    <td><span>$Liên Hê</span></td>
                                </tr>
                                <tr>
                                    <td>Chi phí đi lại ăn uống do bên khách hàng lo</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SAMPHIRE FRITTERS WITH FENNEL CEVICHE </span></td>
                                    <td><span>$19</span></td>
                                </tr>
                                <tr>
                                    <td>fresh samphire, plain flour, cornflower, eggs, fennel</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$13</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel2-->

                <div class="tabs-panel" id="panel3">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>

                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                                <tr>
                                    <td><span>PAN FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>FRIED COURGETTE FLOWERS</span></td>
                                    <td><span>$16</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel3-->

                <div class="tabs-panel" id="panel4">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table>
                                <tr>
                                    <td><span>COURGETTE FLOWERS</span></td>
                                    <td><span>$11</span></td>
                                </tr>
                                <tr>
                                    <td>courgette flowers, goats cheese, red onion, pine nuts</td>
                                </tr>
                                <tr>
                                    <td><span>SMOKED RICOTTA TERRINE</span></td>
                                    <td><span>$12</span></td>
                                </tr>
                                <tr>
                                    <td>ricotta, shallots, cheddar, capers</td>
                                </tr>
                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel4-->

            </div>
        </div>
        <!--.container-->
    </section>
    <!--.menu-cart-->

    <a href="#0" class="cd-top">Top</a>

